<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
  <title>TOP PORTAS - NOTAS</title>
</head>
<body>
  <main id="container">
    <form action="">

      <section id="cad-formapgto" class="box">
        <h1 class="title">Nova forma de pagamento</h1>
        <form action="">
          <div>
            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" name="descricao" id="descricao">
          </div>
          <div>
            <button>Inserir</button>
          </div>
        </form>
      </section>

      <section id="lista-formapgto" class="box">
        <h1 class="title">Formas de pagamentos cadastradas</h1>
        <table border="1">
          <thead>
            <tr>
              <th>ID</th>
              <th>DESCRIÇÃO</th>
              <th>AÇÕES</th>
            </tr>
          </thead>
          <tbody id="listFormPag">

          </tbody>
        </table>
        <div>
          <a href="../templates/ordem.html">Ordem</a>
        </div>
      </section>
  </main>
  <script src="/src/js/formapgto.js"></script>
  
</body>
</html>
